@font-face {
 font-family:'Poppins-Bold';
 src:url(../fonts/poppins/Poppins-Light.ttf);
}

body{
 background-color: #000000f2;
 font-family:'Poppins-Bold';
}

.loading {
 inset: 0;
 z-index: 9999999;
 background-color: #212529;
 display: flex;
}

section ul {
 list-style-type: none;
 height: 300px;
 overflow: hidden;
}
li {
 opacity: 0;
 color: #F9F6F6;
 padding-top: 500px;
}
.shadow{
 box-shadow:0 .5rem 1rem rgba(0,0,0,.15) !important;
}
nav a {
 color: #F9F6F6;
 text-decoration: none;
 cursor: pointer;
}
nav a:hover {
 color: #F9F6F6;
}
nav {
 width: 250px;
 height: 100%;
 position: fixed;
 z-index: 999;
 overflow: hidden;
 background: black;
 left: -250px
}
.sideBar {
 position: fixed;
 top: 0;
 left: 0px;
 width: 60px;
 height: 100%;
 z-index: 9999;
 background-color: #f8f6f6;
 text-align: center;
}
.sideBar img {
 height: 48px;
}
.logo {
 height: 48px;
 padding-top: 25px;
} 
.icons {
 position: absolute;
 bottom: 35px;
 left: 20px;
}
.icons i {
 padding-left: 15px;
 font-size: 14px;
 color: #212529;
}
.icons p {
 color: #999999;
} 
.open-close {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: #000;
 font-size: 25px;
 cursor: pointer;
}
.icons {
 position: absolute;
 bottom: 20px;
 left: 50%;
 transform: translate(-50%);
 z-index: 9999;
 color: black;
}

#meals
{
 display: flex;
}

.item
{
 cursor: pointer;
 overflow: hidden;
}
.layer
{
 top:0;
 left:0;
 right:0;
 bottom:0;
 transform: translateY(102%);
 position: absolute;
 background-color: rgba(255,255,255,0.7);
 transition: 1s  ease-out;
}
.item:hover .layer
{
 transform: translateY(0%);
}

span{
 font-size: 1.3rem;
 font-weight: 500;
}

.recipes-color
{
   color:#155724;
   background-color:#d4edda;
   margin: 0.5rem;
   padding:0.5rem;
   font-size: 1rem;
}
.tags-color
{
 color: #721c24;
 background-color: #f8d7da;
 margin: 0.5rem;
 padding:0.5rem;
 font-size: 1rem;
}

.text
{
 color:#212529;

}
::placeholder {
 text-align: center;
}

#main-search input {
 background-color: black;
 border: none;
 border-bottom: 1px solid #b7b7b7;
 color: #495057;
}

#search-row {
 visibility:hidden ;
}


#contact {
 display: none;
}

#contact input {
 background-color: black;
 border: none !important;
 border-bottom: 1px solid #b7b7b7 !important;
 color: #495057;
 display: block;
 width: 100%;
 padding: 0.375rem 0.75rem;
 font-size: 1rem;
 font-weight: 400;
 line-height: 1.5;
}

#contact input:focus {
 outline: none !important;
}

.alert-danger {
 font-size: 16px;
 text-align: center;
}